.body {
    overflow-y: scroll;
    margin: 0;
    background:black;
}

.main{
    background:black;
    color: white;
}
/* animation pane */
.backsplash {
  display: flex;
  position: absolute;
  top: 0px;
  min-width: 100vw;
  height: 100vh;
  z-index: 1;
}

/* Navbar CSS  */
.navbar {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.navbar a {
  font-size: 3rem;
  padding-bottom: 1.52rem;
  color: #f9f7e9;
  text-decoration: none;
  transition: font-size 0.3s, color 0.3s;
  height: 5rem;
}

.navbar a:hover {
  font-size: 3.5rem;
  color: yellow;
}

.navwrap {
  display: flex;
  position: fixed;
  width: 18vw;
  height: 100vh;
  right: 0;
  align-items: center;
  flex-direction: column;
  background-color: rgba(34, 64, 110, 0.4);
  z-index: 2;
}

.navbar .active {
  font-size: 4rem;
  color: limegreen;
}

/* About Us CSS */
.about {
  display: flex;
  width: 82vw;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid green; /* add 'solid' to specify the border style */
}

.profile {
  display: flex;
  flex-direction: column;
  margin: 4rem auto; /* add auto to center the element horizontally */
  border: 10px solid red; /* add 'solid' to specify the border style */
  /* padding: 2rem; /\* add some padding to the element *\/ */
  height: 90vh;
  box-sizing: border-box; /* include padding and border in element width */
  align-items: center;
  border-radius: 1px;
  justify-content: space-between;
}

.bioname{
    font-size:2rem;
    padding-top: 1rem;
}
.biopic{
    padding: 0.3rem;
    border-radius: 10px;
    height: 43vh;
    width: auto;
}
.bioframe{
    border-radius: 10px;
    border: 2px solid red;
}
.bio {
    border-radius: 10px;
    padding: 1rem;
}
.biotext{
    display: flex;
    flex-direction: column;
    font-size:2rem;
    text-align: center;
}
.biotext p {
    margin: 0.6rem 0;
}

/* Projects CSS */
.gallery_glass {
    display: flex;
    border: 1px solid red;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 3;
}
.projects {
    display:flex;
    height: 80vh;
    width: 82%;
    /* border: 1px solid blue; */
    justify-content: center;
    align-items: center;
}

.focus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-height: 100%;
    width: 100%;
    /* border: 2px solid green; */
    font-color: white;
}

.focusBody{
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    /* align-items: center; */
    justify-content: space-between;
    /* border: 1px solid blue; */
}


.description {
    display:flex;
    flex-direction: column;
    font-size: 1.5rem;
    width: 40%;
    min-height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    /* border: 1px solid green; */
}

.description p{
    /* border: 1px solid red; */
    border-radius: 10px;
    padding: 10px;
    
}

.description p a{
    font-size: 1.6rem;
    font-family: "BankGothic", sans-serif; 
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-decoration: none;
    background: #b7a194;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgb(203, 174, 166, 0.9);
    /* border: 1px solid red; */
    padding: 1rem;
    transition: box-shadow 0.5s, background 0.75s;
}
.description p a:hover{
    box-shadow: 0px 0px 20px rgb(255, 0, 0, 0.9);
    background: rgb(255, 0, 0, 0.7);
    transition: box-shadow 0.5s, background 0.75s;
}
.focus button {
    margin-top: 4rem;
    height: 3rem;
    width: 16rem;
}

/* Contact CSS */
.contact {
    display:flex;
    flex-direction: column;
    height: 80vh;
    width: 82%;
    border: 1px solid blue;
    justify-content: center;
    align-items: center;
}

.contact h1{
    border: 1px solid red;
}
.contact_wrap {
    display:flex;
    border: 1px solid green;
    padding: 2%;
    /* height: 80%; */
    width: 60%;
    justify-content: space-between;
    /* align-items: center; */
}   
.contact_card {
    border: 1px solid blue;
    width: 45%;
    text-align: center;
    justify-content: center;
}
