.body {
    overflow-y: scroll;
    margin: 0;
    background:black;
}

.main{
    background:black;
    color: white;
}
.backsplash {
  display: flex;
  position: absolute;
  top: 0px;
  min-width: 100vw;
  height: 100vh;
  z-index: 1;
}

.navbar {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.navbar a {
  font-size: 3rem;
  padding-bottom: 1.52rem;
  color: #f9f7e9;
  text-decoration: none;
  transition: font-size 0.3s, color 0.3s;
  height: 5rem;
}

.navbar a:hover {
  font-size: 3.5rem;
  color: yellow;
}

.navwrap {
  display: flex;
  position: fixed;
  width: 18vw;
  height: 100vh;
  right: 0;
  align-items: center;
  flex-direction: column;
  background-color: rgba(34, 64, 110, 0.4);
  z-index: 2;
}

.navbar .active {
  font-size: 4rem;
  color: limegreen;
}

.about {
  display: flex;
  width: 82vw;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid green; /* add 'solid' to specify the border style */
}

.profile {
  display: flex;
  flex-direction: column;
  margin: 4rem auto; /* add auto to center the element horizontally */
  border: 10px solid red; /* add 'solid' to specify the border style */
  /* padding: 2rem; /\* add some padding to the element *\/ */
  height: 90vh;
  box-sizing: border-box; /* include padding and border in element width */
  align-items: center;
  border-radius: 1px;
  justify-content: space-between;
}

.bioname{
    font-size:2rem;
    padding-top: 1rem;
}
.biopic{
    padding: 0.3rem;
    border-radius: 10px;
    height: 43vh;
    width: auto;
}
.bioframe{
    border-radius: 10px;
    border: 2px solid red;
}
.bio {
    border-radius: 10px;
    padding: 1rem;
}
.biotext{
    display: flex;
    flex-direction: column;
    font-size:2rem;
    text-align: center;
}
.biotext p {
    margin: 0.6rem 0;
}

.projects {
    display:flex;
    height: 100vh;
    width: 82vw;
    border: 1px solid blue;
    justify-content: center;
    align-items: center;
}


.contact {
    display:flex;
    height: 100vh;
    width: 82vw;
    border: 1px solid blue;
    justify-content: center;
    align-items: center;
}

